.side-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em 0 1em 0;
	flex: 0.5;
	backdrop-filter: blur(20px);
	background-color: rgba(245, 245, 250, 0.15);
	border-radius: 26px;
	margin-right: 1em;
	gap: 1em;
}
.buttons-in-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2em;
}
.welcome-board {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: rgba(245, 245, 250, 0.65);
}
.welcome-text {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.aside-center-wrapper {
	display: flex;
	flex: 8;
	width: 100%;
	justify-content: center;
	padding-top: 0.5em;
}
.aside-top-wrapper {
	display: flex;
	flex: 1;
	width: 100%;
	justify-content: center;
}
.menu-bottom-wrapper {
	display: flex;
	flex: 6;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1em;
}

.day-night-switcher {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0px solid;
	padding: 4px;
	border-radius: 16px;
	background-color: rgba(245, 245, 250, 0.25);
	width: 90px;
	gap: 4px;
}

.menu-button {
	width: 46px;
	height: 46px;
	border-radius: 16px;
}
