.columnFinanceResult {
	display: flex;
	flex-direction: column;
	flex: 6.25;
	font-size: 22px;
	font-weight: 500;
	padding: 16px;
	border-radius: 26px;
	background-color: rgba(13, 43, 71, 0.75);
	/* background-color: rgba(245, 245, 250, 0.25); */
}

.rowAccountsAndOperations {
	display: flex;
	flex: 10;
	gap: 1em;
}

.boxFinanceOperations {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.operations {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-size: 22px;
	font-weight: 500;
	padding: 16px;
	border-radius: 26px;
	background-color: rgba(13, 43, 71, 0.75);
	/* background-color: rgba(245, 245, 250, 0.25); */
}

.accounts {
	display: flex;
	flex-direction: column;
	flex: 3;
	font-size: 22px;
	font-weight: 500;
	padding: 16px;
	border-radius: 26px;
	background-color: rgba(13, 43, 71, 0.75);
	gap: 2px;
	scroll-snap-align: start;
	/* background-color: rgba(245, 245, 250, 0.25); */
}

.accountsWrapper {
	display: flex;
	flex-direction: column;
	padding-right: 6px;
	height: 330px;
	border-radius: 18px;
	overflow-y: auto;
	overscroll-behavior: auto;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	/* background-color: rgba(245, 245, 250, 0.25); */
}

.columnOperationHistory {
	display: flex;
	flex-direction: column;
	flex: 5;
	font-size: 22px;
	font-weight: 500;
	padding: 16px;
	border-radius: 26px;
	background-color: rgba(13, 43, 71, 0.75);
	gap: 1rem;
	/* background-color: rgba(245, 245, 250, 0.25); */
}
.operationsHistoryBoxWrapper {
	display: flex;
	flex-direction: column;
	height: 450px;
	border-radius: 16px;
	padding-right: 3px;
	padding-top: 2px;
	overflow-y: auto;
	overscroll-behavior: auto;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.operationsAccountsWrapper {
	display: flex;
	flex-direction: column;
	flex: 2;
	gap: 1em;
}

.columnCategories {
	display: flex;
	flex-direction: column;
	flex: 4;
	font-size: 22px;
	font-weight: 500;
	padding: 16px;
	border-radius: 26px;
	background-color: rgba(13, 43, 71, 0.75);
	/* background-color: rgba(245, 245, 250, 0.25); */
}
.columnIncomeChart {
	display: flex;
	flex: 6;
	font-size: 22px;
	font-weight: 500;
	padding: 16px;
	border-radius: 26px;
	background-color: rgba(13, 43, 71, 0.75);
	/* background-color: rgba(245, 245, 250, 0.25); */
}

.cryptoLayout {
	display: flex;
	flex: 16;
	flex-wrap: wrap;
	border-radius: 36px;
	gap: 1em;
}

.leftColumn {
	display: flex;
	flex: 8;
	flex-direction: column;
	gap: 1em;
}
.rightColumn {
	display: flex;
	flex: 6;
	flex-direction: column;
	gap: 1em;
}

/* @media screen and (max-width: 900px) {
	.layout > div {
		flex: 8;
		flex-wrap: wrap;
	}
	.main-row-top {
		flex-direction: row;
		flex: 2;
	}
	.main-row-bottom {
		flex-direction: row;
		flex: 3;
	}
} */
