.wide-operation-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3px;
	border-radius: 1rem;
	width: 9rem;
	height: 2.5rem;
	background: #b9ff80;
	transition: all ease 0.2s;
	cursor: pointer;
	color: black;
}

.wide-operation-button:hover {
	background: beige;
}

.noclick {
	color: gray;
	background: gray;
	cursor: default;
	&:hover {
		cursor: default;
	}
}

.outcome {
	background-color: #ff81b6;
}

.icon {
	background-color: rgba(13, 43, 71, 0.85);
}

.outline-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3px;
	border-radius: 1rem;
	width: 9rem;
	height: 2.5rem;
	border: 1px solid white;
	transition: all ease 0.2s;
	cursor: pointer;
	color: white;
	gap: 1rem;
}

.noclick-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3px;
	border-radius: 1rem;
	width: 9rem;
	height: 2.5rem;
	border: 1px solid gray;
	color: gray;
	gap: 1rem;
	&:hover {
		cursor: default;
	}
}
