.side-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em 0 1em 0;
	flex: 0.5;
	backdrop-filter: blur(20px);
	background-color: rgba(245, 245, 250, 0.15);
	border-radius: 26px;
	margin-right: 1em;
	gap: 1em;
}

.active-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 12px;
	border: 0px solid;
	background: radial-gradient(circle at center, #0386c3, #13385f);
	margin: 0;
}

.inactive-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 12px;
	border: 0px solid;
	background: #b1b2b8;
	margin: 0;
}

.column {
	border-radius: 26px;
}
.column-top-left {
	display: flex;
	flex-direction: column;
	flex: 4;
	background-color: rgba(245, 245, 250, 0.25);
}
.column-top-right {
	display: flex;
	flex-direction: column;
	flex: 3;
	background-color: rgba(245, 245, 250, 0.25);
}
.column-bottom-middle {
	display: flex;
	flex-direction: column;
	flex: 3;
	background-color: rgba(245, 245, 250, 0.25);
}
.column-bottom-left {
	display: flex;
	flex-direction: column;
	flex: 2.25;
	gap: 1em;
	backdrop-filter: none;
}
.column-bottom-center-top {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: rgba(245, 245, 250, 0.25);
}
.column-bottom-center-bottom {
	display: flex;
	flex-direction: column;
	flex: 3;
	background-color: rgba(245, 245, 250, 0.25);
}
.column-bottom-right {
	display: flex;
	flex-direction: column;
	flex: 4;
	background-color: rgba(245, 245, 250, 0.25);
}
.main-row-top {
	display: flex;
	gap: 1em;
	flex: 4;
	border-radius: 26px;
}
.main-row-bottom {
	display: flex;
	flex-direction: row;
	gap: 1em;
	flex: 6;
	border-radius: 26px;
}

.layout {
	display: flex;
	flex-direction: column;
	flex: 7;
	padding: 1em;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	background-color: rgba(245, 245, 250, 0.15);
	border-radius: 36px;
	gap: 1em;
}
