:root {
	font-family: 'Exo 2', 'system-ui', 'Helvetica', serif;
	color: rgba(250, 250, 250, 1);
}

body {
	background: url('./assets/pictures/back3.jpg');
	background: radial-gradient(circle at center, hsl(196, 90%, 70%) 0%, #0f385e 70%, #0a1b30 100%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	backdrop-filter: blur(45px);
	align-items: center;
	justify-content: center;
	scrollbar-color: #1f4165 transparent;
	scrollbar-width: thin;
	transition: all duration-150 ease-in;
}

.body-day {
	background: url('./assets/pictures/back3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.body-night {
	background: url('./assets/pictures/back2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

button:focus {
	outline: none;
}
button:focus-visible {
	border: 2px solid rgba(173, 216, 240, 0.65);
}

input:focus {
	outline: none;
}

input:focus {
	border: 1px solid rgba(173, 216, 240, 0.65);
}
select:focus {
	outline: none;
}

select:focus {
	border: 1px solid rgba(173, 216, 240, 0.65);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin-custom {
	animation: spin 1s linear infinite;
}

.scrollbar {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

input:focus {
	outline: 1px solid rgb(241, 237, 230);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
}

.triangle-down {
	width: 0;
	height: 0;
	border-width: 6.7px 6px 0 6px;
	border-color: oklch(0.81 0.117 11.638) transparent transparent transparent;
	border-style: solid;
}
.triangle-up {
	width: 0;
	height: 0;
	border-width: 6px 6px 6px 6px;
	border-color: transparent transparent oklch(0.897 0.196 126.665) transparent;
	border-style: solid;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.animate-fadeIn {
	animation: fadeIn 250ms ease-in-out 100ms forwards;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-spin-custom {
	animation: spin 1s linear infinite;
}

.custom-select {
	background-color: #334864;
	border: 2px solid #d1d5db;
	color: #daeaff;
	border-radius: 1rem;
	padding: 10px;
	width: 40%;
	height: 30px;
	transition: all 0.3s ease;
}

.custom-select option {
	padding: 10px;
	height: 50px;
}
.custom-select:hover {
	background-color: #4b5563;
	color: white;
}

.custom-select option:hover {
	background-color: #2e3846;
	color: white;
}

input[type='date'] {
	color: #eeeeee;
}

input[type='date']::-webkit-calendar-picker-indicator {
	background-color: #eeeeee;
	border-radius: 30%;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
