@import 'tailwindcss';

@theme {
	--color-main-red: #ff81b6;
	--color-main-green: #b9ff80;
	--color-btn-bgcolor: rgba(0, 100, 154, 0.85);
	--color-btn-bghovercolor: rgba(10, 50, 89, 1);
	/* --breakpoint-3xl: 120rem; */
}
