@import 'tailwindcss';

@theme {
	--color-main-red: #ff8bbb;
	--color-main-green: #b9ff80;
	--color-btn-color: rgba(10, 120, 174, 0.75);
	--color-btn-menuhover: rgba(10, 80, 124, 0.8);
	--color-btn-hovercolor: rgba(10, 70, 99, 1);
	--breakpoint-3xl: 130rem;
}
