.root {
	display: flex;
	background: radial-gradient(circle, rgba(24, 72, 156, 1) 0%, rgb(0, 33, 52) 100%);
	/* background-image: url('https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.webp'); */
	background-size: cover;
	width: 1920px;
	height: 1080px;
	padding: 1em;
}

.mainLayout {
	display: flex;
	flex-direction: column;
	flex: 16;
	flex-wrap: wrap;
	padding: 1em;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	background-color: rgba(239, 239, 239, 0.05);
	border-radius: 36px;
	gap: 1em;
}

.pagesLayout {
	display: flex;
	flex: 16;
	flex-wrap: wrap;
	border-radius: 36px;
	gap: 1em;
}
