:root {
	font-family: 'Exo 2', serif;
	/* font-family: Igra Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	color: rgba(255, 255, 255, 1);
	--btn-hover-gradient: radial-gradient(
		circle,
		rgba(0, 212, 255, 1) 0%,
		rgba(19, 19, 156, 1) 74%,
		rgba(2, 0, 36, 1) 100%
	);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	scrollbar-color: #1f4165 transparent;
	scrollbar-width: thin;
}

.root {
	display: flex;

	/* background: radial-gradient(circle, rgba(24, 72, 156, 1) 0%, rgb(0, 33, 52) 100%); */
	/* background-image: url('https://images.squarespace-cdn.com/content/v1/5979e18715d5db259166db64/1631570216861-ROIX0K0AQYT7AR46B4ZP/Download-Banner.png'); */
	background-image: url('https://sun9-83.userapi.com/impf/h0ErobY1uBNzkAdK99g5Ymp1ghqyWJMDQoYTyA/kWEKSn2frSI.jpg?size=0x0&quality=90&proxy=1&sign=f865c543242b526f1df79a98f14ebf60&c_uniq_tag=g9TzljxbRYKPq9lN5EwrJZfUq4tsm8JEF31tYXfv1-o&type=video_thumb');
	background-size: cover;
	min-width: 100vw;
	height: 100vh;
	padding: 1em;
}

.mainLayout {
	display: flex;
	flex-direction: column;
	flex: 20;

	padding: 1em;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	background-size: cover;
	background-color: rgba(239, 239, 239, 0.08);
	border-radius: 36px;
	gap: 1em;
}

.pagesLayout {
	display: flex;
	flex: 20;
	flex-wrap: wrap;
	border-radius: 36px;
	gap: 1em;
}
.scrollbar {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
