:root {
	font-family: 'Exo 2', serif;
	/* font-family: Igra Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	color: rgba(250, 250, 250, 1);
	--btn-hover-gradient: radial-gradient(
		circle,
		rgba(0, 212, 255, 1) 0%,
		rgba(19, 19, 156, 1) 74%,
		rgba(2, 0, 36, 1) 100%
	);
}

body {
	display: flex;
	background-image: url('https://images.squarespace-cdn.com/content/v1/5979e18715d5db259166db64/1631570216861-ROIX0K0AQYT7AR46B4ZP/Download-Banner.png');
	align-items: center;
	justify-content: center;
	background-color: #000000;
	scrollbar-color: #1f4165 transparent;
	scrollbar-width: thin;
	transition: all duration-150 ease-in;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin-custom {
	animation: spin 1s linear infinite;
}

.scrollbar {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
/* bg-[url('https://sun9-83.userapi.com/impf/h0ErobY1uBNzkAdK99g5Ymp1ghqyWJMDQoYTyA/kWEKSn2frSI.jpg?size=0x0&quality=90&proxy=1&sign=f865c543242b526f1df79a98f14ebf60&c_uniq_tag=g9TzljxbRYKPq9lN5EwrJZfUq4tsm8JEF31tYXfv1-o&type=video_thumb')]  */
