:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: rgba(255, 255, 255, 1);
	--btn-hover-gradient: radial-gradient(
		circle,
		rgba(0, 212, 255, 1) 0%,
		rgba(19, 19, 156, 1) 74%,
		rgba(2, 0, 36, 1) 100%
	);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	scrollbar-color: #1f4165 transparent;
	scrollbar-width: thin;
}

.root {
	display: flex;
	/* background: radial-gradient(circle, rgba(24, 72, 156, 1) 0%, rgb(0, 33, 52) 100%); */
	background-image: url('https://devex.shorthandstories.com/The-Future-of-Development-Finance-5-takeaways/assets/npiCcb42gC/190701-still-top-image-london-finance-event-video-1920x1080.jpeg');
	background-size: cover;
	min-width: 100vw;
	height: 100vh;
	padding: 1em;
}

.mainLayout {
	display: flex;
	flex-direction: column;
	flex: 20;
	flex-wrap: wrap;
	padding: 1em;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	background-size: cover;
	background-color: rgba(239, 239, 239, 0.08);
	border-radius: 36px;
	gap: 1em;
}

.pagesLayout {
	display: flex;
	flex: 20;
	flex-wrap: wrap;
	border-radius: 36px;
	gap: 1em;
}
.scrollbar {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
